.buscador {
  margin: 1rem 0;
  display: flex;
  gap: 0.5rem;

  input[type='text'] {
    padding: 0.5rem;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.acciones-botones {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
}

.centro {
  display: flex;
  justify-content: center; 
  align-items: center;   
  padding: 1rem;
}

.campo{
  margin-bottom: 1rem;
}

.boton{
  text-align: center;
  gap: 0.5rem;
}
